@model IEnumerable<MVC_003.Models.Student>

@{
    ViewBag.Title = "Öğrenci Listeleme";
}

@if (TempData["editmessage"] != null)
{
    <section class="alert alert-info">
        @TempData["editmessage"]
    </section>
}
@if (TempData["deletemessage"] != null)
{
    <section class="alert alert-info">
        @TempData["deletemessage"]
    </section>
}
<p>
    <!--@Html.ActionLink("Create New","Create")-->
    @*<a href="/Student/Create">Create New</a>*@



    @Html.ActionLink(linkText: "Add Student", actionName: "Add", controllerName: "Student", htmlAttributes: new { @class = "btn btn-success" }, routeValues: new { })
    @*<a class="btn btn-success" href="/Student/Create">Create New</a>*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
            @*Nesne özellik adını alır.=> ID*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
            @*Nesne özellik adını alır.=> Name*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
            @*Nesne özellik adını alır.=> Surname*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
                @*Nesne özelliğinin değerini alır.=> 1/2*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @*Nesne özelliğinin değerini alır.=> John/Jane*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
                @*Nesne özelliğinin değerini alır.=> Doe/Doe*@

            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-success" }) |
                @Html.ActionLink("Detaylar", "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Sil", "Delete", routeValues: new { item.ID }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>